*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    vertical-align: baseline;
    max-width: 100%;
    box-sizing: content-box;
    /* overflow-x: hidden; */
}

body{
    /* height: 100vh; */
    min-height: 100%;
    margin:0;
}

html{
    overflow-x: hidden;
}

header{
    height: 90px;
    width: 100%;
    background-color: #ac00e6;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap; */
}


.navbar-light .navbar-nav .nav-link{
color: white;
}


.navbar-color{
    background-color:#ac00e6 ;
    
}

.navbar{
    padding: 0px;
    margin: 0px;
}

.navbar-nav{
    margin-right: 20px;

}


.nav-item{
    color: white !important;
}


/* a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
} */

.content{
    /* background-color: black; */
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("img/foto\ landing2.jpg");
    background-position: top right;
    color: white;
}

.mainText{
    animation-name: rightToLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes rightToLeft{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px)
    }

}

.contentText{
    animation-name: leftToRight;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes leftToRight{
    0%{
        overflow: hidden;
    }
    50%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px)
    }
}

main > div > p{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
main > div > h1{
    margin-top: 150px;
}
h1{
    /* color: #d8d8d8; */
    font-size: 1em;
    margin-bottom: 60px;
    /* padding-left: 200px;
    padding-right: 200px; */
}

/*Botones*/
.contactanos{

    font-size: 15px;
    background-color: #ac00e6;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    position: relative;
    bottom: 50px;
    border: 0px;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 50px;
    transition: 0.2s;
    animation-name: LeftToRightTwo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    }

@keyframes LeftToRightTwo{
    0%{
        transform: translateX(-900px);
    }
    50%{
        transform: translateX(-900px);
    }
    100%{
        transform: translateX(0px);
    }

}

.contactanos:hover, .mas:hover{
    background-color: orange;
    transform: scale(1.1);
}


    
.mas{
    font-size: 15px;
    background-color: #ac00e6;
    border-radius: 5px;
    border: 1px solid grey;
}

.boton-contactanos{
    background-color: #ac00e6;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    

}

/*Section cards*/

.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* display: flex;
    justify-content: space-between; */
    /* margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px; */

}

.card{

    width: 17rem;
    height: 24rem;
    background-color: black;
    color: white;
    margin-top: 100px;
    text-align: center;
    transition: all 1s;
    /* margin-left: 15px;
    margin-right: 0px; */
    /* box-sizing: content-box; */
}

.card:hover{
transform: scale(1.1);
}

.card-text{
    margin-top: 30px;
    margin-bottom: 35px;
    font-weight: 100;
    font-size: 13px;
}

.card-body{
    text-align: center;
}

/*Libra*/
.contenedorA{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 150px ;
    margin-bottom: 50px;
    /* text-align: center; */
}

.astrologia{
    border: 1px solid gray;
    width: 80%;
    height: 68%;
    /* background-color: #4f4757; */
    background-image: linear-gradient(to left, black , purple,black);
    text-align: center;
    padding-top: 80px; 
    color: white;
    font-size:13px ;

}

.libra{
    background-color: orange;
    color: white;
    width: 12rem;
    height: 3rem;
    border-radius: 5px;
    /* position: relative;
    bottom: 50px;
    border: 0px; */
    cursor: pointer;
    /* margin-top: 25px; */
    border: 2px solid gray;
    font-weight: 500;
}

.libra:hover{
    filter: brightness(110%);
}

.astrologiaTexto{
    margin: 50px;
}

footer{
    height: 50px;
    text-align: center;
    color: white;
    background-color: black;
    line-height: 50px;
    margin-top: 50px;
}

.row{
    display:flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

/*CONTACTO*/

.formulario{
    /* position: relative;
    left: 30%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #cfcf96;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    /* padding-left: 100px;
    padding-right: 100px; */
    border: 2px solid grey;

}

.container-form{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.boton-contacto{
    position: relative;
    left: 65px;
    bottom: 8px;
    width: 230px;
    height: 1.5rem;
    background-color: #ac00e6;
    border: 0px;
    border-radius: 5px;
}

#name, #apellido, #tel, #email, #mensaje, .btn-contact{
    width: 225px;
    margin: 10px;
    
}

#name, #apellido{
    position: relative;
    left: 3px;
}

#email{
    position: relative;
    left: 20px;
}

.areaText{
    vertical-align: top;
}

.contactForm{
    text-align: center;
    margin-bottom: 25px;
}

/*RESPONSIVE*/

@media screen and (max-width: 992px) {
    .row {
            display: flex;
            flex-direction: column;
      }
    }

    @media screen and (min-width: 992px) {
            .card-tarot{
                margin-left: 90px;
                margin-right: 90px;
            }
            .cards{
                margin-left: 60px;
            }
            .navbar-collapse{
                flex-grow: unset;
            }
        }

/*TESTIMONIOS*/

.container-t{
    margin-top: 50px;
}

.card-testimonios{
    text-align: center;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: solid black 1px;
    margin-bottom: 50px;
}

.cero, .dos, .cuatro{
    background-image: linear-gradient(to left, black , grey,black);
}

.uno, .tres, .cinco{
    background-image: linear-gradient(to left, black , purple,black);
}
@media screen and (min-width: 992px) {
    .container-t {
        display: grid;
        height: 1600px;
        row-gap: 150px;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px 400px;

        grid-template-areas: 
        "cero uno uno"
        "dos dos tres"
        "cuatro cinco cinco"
        ;
      }
      .cero{
        grid-area: cero;
        height: 400px;
        color: black;
      }
      .uno{
        grid-area: uno;
        height: 400px;
        color: white;
      }
      .dos{
        grid-area: dos;
        height: 400px;
        color: white;
      }
      .tres{
        grid-area: tres;
        height: 400px;
        color: black;
        
      }

      .cuatro{
        grid-area: cuatro;
        height: 400px;
        color: black;
      }
      .cinco{
        grid-area: cinco;
        height: 400px;
        color: white;
      }
      .cards{
        margin-left: 88px;
      }
    }